<div class="container">
    <h1 class="page-header">Relação de clientes</h1>
    <div class="panel panel-default">
            <div class="panel-heading headertable"> Cadastro de clientes </div>
            <div class="panel-body">
                
                <table class="table table-bordered">
                        
                        <thead>
                            <tr>
                                <th class="col-sm-4 text-center">Nome</th>
                                <th class="col-sm-2 text-center">Data Nasc</th>
                                <th class="col-sm-3 text-center">Documento</th>
                                <th class="col-sm-3 text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type = "text" class="form-control" id="nomeInput"/></input></td>
                                <td><input type = "text" class="form-control" id="dataNascimentoInput" ng-model="birthDate" ui-date-mask="DD/MM/YYYY"/></input></td>
                                <td><input type = "text" class="form-control" id="documentoInput"  ng-model="initializedCpfCnpj1" ui-br-cpfcnpj-mask/></input></td>
                                <td class="text-center">
                                <button class="btn btn-sm btn-default" type="button" name="button" ng-click="incluir()"> <span class="glyphicon glyphicon-plus"></span> Incluir</button>
    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading headertable"> Clientes cadastrados </div>
        <div class="panel-body">
        
            <table class="table table-bordered">
                    
                <thead>
                    <tr>
                        <th class="col-sm-4 text-center">Nome</th>
                        <th class="col-sm-2 text-center">Data Nasc</th>
                        <th class="col-sm-3 text-center">Documento</th>
                        <th class="col-sm-3 text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cliente in clientes">
                        <td class="text-center">{{cliente.nome}}</td>
                        <td class="text-center"><span class="label label-default">{{cliente.dataNascimento}}</span></td>
                        <td class= "text-center"><span class="label label-default">{{cliente.documento}}</span></td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-default" ng-click="modalEditar(cliente)" type="button" name="button"> <span class="glyphicon glyphicon-pencil"></span> Editar</button>
                            <button class="btn btn-sm btn-default" ng-click="remover(cliente)" type="button" name="button"> <span class="glyphicon glyphicon-trash"></span> Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>